/* Login.css */

.login-container {
  /* margin: 50px; */
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  width: 414px;
  margin-left: 450px;
  margin-top: 60px;
  
}

.login-form {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width:414px;
}

.login-form h2 {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  display: block;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
}

.login-button:hover {
  background-color: #0056b3;
}
.form-details {
  max-height:calc(100vh - 60px);
  overflow: auto;
}
.Add-form{
   border-radius: 10px;
   position: fixed;
   top: 40%;
   left: 45%;
   transform: translate(-40%, -40%);
   padding: 10px;
   background-color: white;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
   z-index: 998;
   width:500px;
   /* height:calc(100vh - 60px); */
}
/* .form-popup-container {
  text-align: center;
  margin-top: 5px;
}
.open-form-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.form-popup h2 {
  margin-top: 0;
}

.form-popup label {
  display: block;
  margin-top: 10px;
}

.form-popup input,
.form-popup textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.form-popup button[type='submit'] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.close-form-button {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.close-form-button:hover {
  background-color: #999;
} */

